.comeco{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.gradient{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130vh;
    width: 70vw;
    background: linear-gradient(45deg, #C68B59, #fc8cda,#d8a97f, #d8a97f, #dd5cc1);
    background-size: 200% 200%;
    animation: colors 4s ease-in-out infinite;
    border-radius: 50%;
    position: absolute;
    z-index: -2000;
    left: -10vw;
}

.fundo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140vh;
    width: 75vw;
    top: -20vh;
    left: -12vw;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat ;
    background-position: left ;
    overflow: hidden ;
    z-index: -1000;
}

.bemvindo{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    left: 56vw;
    width: 35vw;
    padding: 25px;
    box-shadow: 1px 3px 10px rgb(194, 191, 191);
}

.bemvindo span{
    color: rgb(119, 64, 247);
    font-weight: bolder;
    font-size: 35pt;
}

.bemvindo button{
    margin-top: 1rem;
    max-width: 15vw;
}

@keyframes colors {
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}

.sobre{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    top: 88.6vh;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    z-index: 2000;
}

.sobre h1{
    margin-top: 11rem;
    padding: 2rem;
    background: linear-gradient(90deg, rgb(255, 158, 66), rgb(255, 140, 236)) ;
    border-radius: 25px;
    color: white;
}

.sobre button{
    margin-top: 2rem;
}

.motivos{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
}

.card h3{
    text-align: center;
}

.card p{
    width: 75%;
}

.cardImg{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    width: 100%;
}

.cadastrar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    top: 215vh;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(0deg, rgb(247, 150, 40),white, white);
    z-index: 2000;
    padding: 0% 0% 2%;
    margin-bottom: 1%;
}

.cadastrar h1{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
    background: linear-gradient(90deg, rgb(255, 140, 236),rgb(255, 158, 66)) ;
    border-radius: 25px;
    color: white;
}

.escolha{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: white;
    border-radius: 10px;
    box-shadow: 1px 3px 35px rgb(94, 89, 89);
    width: 70%;
}

.pergunta{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}

.pergunta h2{
 margin-top: 4rem
}

.fotoPergunta{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    width: 50vw;
    margin: 5vh 5vw;
}

.cardPergunta{
    width: 10vw;
    height: 20vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center ;
}

.opcoes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
}

.opcoes a{
    text-decoration: none;
    transition: all .3s ease;
}

.opcoes a:hover{
    transform: translateY(-10px);
    box-shadow: 1px 0px 10px rgb(170, 170, 170);
}

.opcao{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px rgb(146, 146, 146) solid;
}

.opcao h3{
    width: 80%;
    text-decoration: none;
}

.escolha .opcoes a:nth-child(1){
    color: orange;
}

.escolha .opcoes a:nth-child(2){
    color: purple;
}