.containerConta {
    width: 100%;
    height: 100%;
  }
  
  
  
  .ButtonsHeader{
      display: flex;
      justify-content: center;
  }
  
  
  .mainContent {
    width: 100%;
    height: 100%;
    background-color: rgb(209, 249, 250);
  }
  