.bgContainerItens{
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    max-height: 75%;
}

.containerItens{
    width: 100%;
    display: grid;
    overflow: scroll;
    grid-template-columns: 330px 330px;
}

.itemLista{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(235, 225, 225);
    margin: 1rem;
    width: 95%;
    position: relative;
    padding: 1rem;
}

.footerItemLista{
    display: flex;
    justify-content: flex-end;
}