.configuracoes header img{
    width: 15vw;
    padding: 1vh;
    background-color: rgb(44, 44, 44);
    border-radius: 50%;
}

.configuracoes header {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(224, 224, 224);
    width: 80vw;
    top: 12.1vh;
    left: 20vw;
    padding: 18px;
    border: 1px solid rgb(192, 192, 192);
}

.configuracoes header button{
    background-color: indigo;
}

.configuracoes header button:disabled{
    cursor: default;
}