.header{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    width: 76vw;
    height: 38vh;
    top: 12.2vh;
    left: 0;
    margin-left: calc(22vw);
    background-color: #e57b10a6;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.header a button{
    display: flex;
    align-items: center;
    position: absolute;
    background-color: white;
    color: orange;
    top: 15px;
    right: 10px;
    font-size: 12px;
}

.header a button img{
    width: 18px;
    margin-right: 8px;
}

.header div{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-size: 18pt;
}

.imagemPerfil{
    margin: 5rem;
    height: 20vh;
    width: 10vw;
    transform: scale(1.3);
    border-radius: 50%;
    color: transparent;
    border: 1px solid rgb(138, 138, 138);
    background-color: rgb(211, 211, 211);
}

.header div div{
    display: flex;
    flex-direction: column;
}

.cards{
    width: 79%;
    position: absolute;
    z-index: 2000;
    display: flex;
    justify-content: space-evenly;
    left: 20vw;
    top: 43vh;
}

.btnFoto{
    display: flex;
    align-items: center;
    position: absolute;
    left: 31vw;
    top: 22vh;
}

.btnFoto button{
    background-color: white;
    color: orange;
    border: 1px solid rgb(214, 214, 214);
    padding: 1.3vh 2vh;
    border-radius: 50%;
}


.img{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    padding: 0;
}

.img p{
    position: absolute;
    bottom: 0;
}

.img img{
    height: 180px;
    width: 180px;
    border-radius: 50%;

}

.img img:hover{
    filter: brightness(20%);
    background-color: rgba(0, 0, 0, 0.8);
}

.img span{
    color: orange;
    margin-bottom: 2rem;
    font-weight: bolder;
}

.hover{
    position: absolute;
    color: white;
    z-index: 200;
    margin-top: 3.5rem;
}

.containerImage{
    width: 40vw;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
}

.buttons button{
    background-color: blueviolet;
}
