.nav main{
    display: flex;
    flex-direction: column;

}

.nav main a{
    text-decoration: none;
    color: rgb(38, 38, 38);
    transition: all .3s;
    margin-bottom: 1rem;
}

.nav main a:hover{
    transform: scale(1.5);
}

.nav{
    left: 0;
    top: 12vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 98%;
    width: 20vw;
    text-align: center;
    justify-content: space-evenly;
    border-left: none;
    padding: 0 10px;
    box-shadow: 5px 0px 5px rgba(85, 85, 85, 0.2);
    background-color: #F8EBDF;
}

.nav header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 235, 235);
    margin: -10px;
    height: 30%;
    margin-top: -13vh;
}

footer a{
    text-decoration: none;
    color: rgb(67, 67, 67);
    transition: all .3s;
}

footer a:hover{
    color: black;
    top: 5px;
}

footer button{
    margin-top: 3vh;
}

.nav header span:nth-child(1){
    position: fixed;
}

.nav header span:nth-child(2){
    margin-top: 32vh;
}

.imagemNavbar{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 20vw;
    height: 29vh;
    color: transparent;
}