.card{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: .2rem; 
    border: 1px solid lightgray;

}

.cardImg{
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 200px;
}

.card div:nth-child(2){
    padding: .5rem;
}

.card div:nth-child(2) span{
    font-weight: bolder;
}