.testeMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
}

.testandoDiv div:nth-child(1){
    background-color: blue;
}

.testandoDiv div:nth-child(2){
    background-color: red;
}