.containerCampanha{
    display: flex;
    flex-direction: column;
    width: 60vw;
    text-align: center;
}

h2{
    font-weight: bold;
    padding-bottom: 2rem;
}

h2 span{
    color: orange;
}

.left{
    display: flex;
    width: 50%;
    flex-direction: column;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 8vw;
    height: 7vw;
    border-radius: 20%;
    margin-left: 2rem;
    margin-top: calc(15% - 5.5vw);
    transform: scale(2.5);
}

.infos{
    font-size: 1em;
}

.infos h4 span{
    color: purple;
}

.infos h5 span{
    color: blue;
}

.infos h6 span{
    color: orange;
}

.main {
    display: flex;
    justify-content: space-evenly;
    padding: 4rem 3rem;
    transform: scale(1.1)
}

.img{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.img p{
    position: absolute;
    bottom: 0;
}

.img img{
    height: 180px;
    width: 180px;
    border-radius: 50%;

}

.img img:hover{
    filter: brightness(30%);
}

.hover{
    position: absolute;
    color: white;
    z-index: 200;
}

.imgContainer{
    display: flex;
    max-width: 500px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 3rem;
}
