.card{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    padding-bottom: .2rem; 
    border: 1px solid lightgray;
    position: relative;
    text-align: center;

}

.cardImg{
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 200px;
}

.card div:nth-child(2){
    padding: .5rem;
}

.card div:nth-child(2) span{
    font-weight: bolder;
}

.card button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: .8em;
    padding: .4em;
    background-color: red;
    position: absolute;
    right: 0;
    top: 0;
}

.card button *{
    margin-left: .5em;
}


.modalContainer{
    padding: 1rem;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.modalContainer strong{
    padding: 0;
}

.modalContainer button{
    margin: 1rem;
}

.modalContainer button:nth-child(1){
    background-color: rgba(0, 255, 255, 0.794) ;
}

.modalContainer button:nth-child(2){
    background-color: rgba(255, 0, 0, 0.739) ;
}
