.container{
    width: 100%;
    height: 90.7vh;
}

.backgroundContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.containerLogin{
    display: flex;
    flex-direction: column;
    background-color: #ff6d19bb;
    padding: 1rem;
    border-radius: 18px;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 100%;
    max-width: 35%;
    max-height: 78%;
}

.bodyLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-top: 3rem;
    padding: 3%;
    font-size: 16pt;
}

.bodyLogin input, label{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.bodyLogin input{
    background-color: transparent;
    border: none;
    font-size: 20pt;
    border-bottom: solid 1px rgb(255, 255, 255);
}

.headerLogin{
    font-size: 32pt;
    font-family: Arial, Helvetica, sans-serif;
}

.footerLogin button{
    text-decoration: none;
    border: none;
    color: #ff6d19d7;
    font-size: 20pt;
    border-radius: 5px;
    padding: 5px 30px;
    margin-bottom: 1rem;
}