h2{
    margin: 3rem;
    font-weight: bolder;
}

.containerItem{
    border: 1px solid rgb(230, 230, 230);
    text-align: center;
}

.img{
    position: absolute;
    left: -5%;
    top: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img img{
    height: 500px;
    width: 500px;
}

.img img:hover{
    filter: brightness(30%);
}

.imgContainer{
    margin-top: -5vw;
    display: flex;
    border-radius: 50%;
    max-width: 500px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform: scale(.5);
}

.header{
    position: relative;
    transform: scale(.9);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fundoDoacao{
    margin-top: 2rem;
    margin-left: 50%;
    display: flex;
    border-radius: 35%;
    background-color: white;
}

.fundoDoacao img{
    height: 300px;
}

.main{
    display: flex;
    justify-content: space-evenly;
}

.buttons{
    margin-top: 40px;
    margin-right: 8.5vw;
    display: flex;
    justify-content: flex-end;
}

.buttons button:nth-child(1){
    background-color: red;
}

.buttons button:nth-child(2){
    margin-left: 30px;
    background-color: rgb(6, 218, 218);
}

.hover{
    margin-top: -60vh;
    position: absolute;
    color: white;
    z-index: 2001;
}