.container-middle{
    display: flex;
    align-items: center!important;
    justify-content: center!important;
    height: 100%;
    width: 100%;
}

html, body, #root{
    height: 97%;
    width: 100%;
}